.form-groups {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem !important;
}

input:focus {
  outline: none;
}

.input-size {
  width: 50%;
}

.inputbox {
  border-radius: 1.2rem !important;
  border: 1px solid #d1d3e2 !important;
}

.login-btn {
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.85rem;
}

// over-ride the react-phone-input-2 package css
.form-control,
.react-tel-input {
  width: 100% !important;
}

.country-name,
.dial-code {
  font-size: 1.2rem;
  font-weight: 400;
  color: black !important;
}

.country {
  width: 100% !important;
}

.country-list {
  position: relative !important;
  width: 100% !important;
}
